= render "homes/header"
= render "homes/purchasebtn"
- breadcrumb :logout
= render "layouts/breadcrumbs"
.mypage-main
  = render "mypage-side-menu"
  .mypage-main__right-contents
    .l--content
      .l-chapter-container
        .l-single-inner
          .l-single-content
            .btn-defalut 
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn-destroy'
