.header
  .header__inner
    .header__inner-main
      %h1.header__inner-main__icon
        = link_to "/" do
          = image_tag "logo-furima.svg"
      .header__inner-main__searchbox
        = form_tag('/search', method: :get, class: 'search-form') do
          %input.search-form__input{name: "keyword", placeholder: "キーワードから探す", type: "text", value: ""}
          %button.btn-search{title: "検索", type: "submit"}
            = image_tag "icon-search.svg", size: "20x20"
            
    .header__inner-nav
      %ul.header__inner-nav__listleft
        %li.header__inner-nav__listleft__category
          = link_to categories_path, class:"catbtn" do
            カテゴリー
          .displaynone.tree
            .category_list
              .parents_list
                - @parents.each do |parent|
                  = link_to "#{parent.name}", "category_path(parent)", class: "parent_category",id: "#{parent.id}"
                  .children_list
                  .grand_children_list
        %li.header__inner-nav__listleft__brand
          #brandbtn
            = link_to "#" do
              ブランド

      %ul.header__inner-nav__listright
        - if user_signed_in?
          %li.header__inner-nav__listright__login
            = link_to "/users/sign_out" do
              ログアウト
          %li.header__inner-nav__listright__new
            = link_to "/users/:id" do
              マイページ
        - else
          %li.header__inner-nav__listright__login
            = link_to "/users/new" do
              ログイン
          %li.header__inner-nav__listright__new
            = link_to "/users" do
              新規会員登録

