.bread-crumbs
  %ul
    %li.itemscope
      = link_to "メルカリ", "#"
      %i.icon-arrow-right
        %li 
          >
    %li.last-childs
      = link_to "マイページ", "#"
      %i.icon-arrow-right
        %li 
          >
    %li.last-child
      支払い情報
.mypage-main
  = render "users/mypage-side-menu"
  .l-content
    .user-card__content
      %h2 支払い方法
      .user-card__content__inner
        .user-card__content__inner--text
          %h3 クレジットカード一覧
        .user-card__content__inner--btn
          = link_to new_card_path,class: "user-card__content__inner--btn--add" do
            %i.fas.fa-credit-card
            クレジットカードを追加する
        .user-card__content__inner--help
          = link_to "#" do
            %span 支払い方法について
            %i.fas.fa-chevron-right