= render "homes/header"
.category__contents
  .category__contents__content
    .category__name
      %h2 #{@parents.name}の商品一覧
    .item__info.clearfix
      - @product.each do |product|
        .item__info__box
          = link_to root_path do
            .item__info__box__photo
              - product.images.each do |img|
                = image_tag img.image.url
            .item__info__box__body
              .item__info__box__body__name
                = product.name
              .item__info__box__body__num
                .item__info__box__body__num__price
                  = product.price
                .item__info__box__body__num__heart
                  = icon('far', 'heart', class: 'heart__icon')
                  %span 0
    %ul.pagers
      %li.pagers__num
        %ul
          %li.pager__cell 
            = link_to root_path do
              1
          %li.pager__cell
            = link_to root_path do
              2
          %li.pager__cell
            = link_to root_path do
              3
          %li.pager__cell
            = link_to root_path do
              4
          %li.pager__cell
            = link_to root_path do
              5
      %li.pagers__next
        %ul
          %li.pager__cell
            = link_to root_path do
              = icon('fas', 'angle-right', class: 'right__icon')
          %li.pager__cell
            = link_to root_path do
              = icon('fas', 'angle-double-right', class: 'double__icon')



