= render "homes/header"
= render "homes/purchasebtn"
.detail--contents
  .contents--main
    .contents--top
      .name
        = @product.name
      - @images.first(1).each do |img|
        .image
          .image__big
            = image_tag img.image.url
          %ul.image__small
            - @images.each do |imge|
              %li.image__small__content
                = image_tag imge.image.url
      .price
        ¥ #{@product.price}
        .price__detail
          (税込) #{@product.postage_i18n}
      .information
        %table
          %tr.detail
            %th.detail__title
              商品の説明
            %td.detail__content
              = @product.detail
          %tr.nickname
            %th.nickname__title
              出品者
            %td.nickname__content
              = @product.user.nickname
          %tr.category
            %th.category__title
              カテゴリー
            %td.category__content
              = @product.category.parent.parent.name
              %br
              = @product.category.parent.name
              %br
              = @product.category.name
          %tr.brand
            %th.brand__title
              ブランド
            %td.brand__content
              = @product.brand
          %tr.size
            %th.size__title
              サイズ
            %td.size__content
              = @product.size
          %tr.status
            %th.status__title
              商品の状態
            %td.status__content
              = @product.status_i18n
          %tr.postage
            %th.postage__title
              配送料の負担
            %td.postage__content
              = @product.postage_i18n
          %tr.area
            %th.area__title
              発送元の地域
            %td.area__content
              = @product.shipping_area_i18n
          %tr.estimated
            %th.estimated__title
              発送日の目安
            %td.estimated__content
              = @product.estimated_date_i18n
     
      .under--btn
        .under--btn__favorite
          = icon("fa","star", class: "star-btn")
          = link_to "お気に入り #{@product.favorite}", "#", class: "f-btn"
        .under--btn__report
          = icon("fa","flag", class: "flag-btn")
          = link_to "不適切な商品の通報", "#", class: "r-btn"
      .edit_deleate
        - if user_signed_in? && current_user.id == @product.user_id
          .edit_destroy_btn
            = link_to edit_product_path(params[:id]), class:"submit--btn" do
              %button.edit--btn
                商品の編集
            = link_to "#", class:"submit--btn" do
              %button#destroy--btn
                この商品を削除する
              #dialog.dialog
                .dialog-content
                  .dialog-content__head
                    %h5.dislog-content__head__title
                      削除の確認
                    %button{type: 'button', id: 'close', data:{dismiss: 'modal'}, aria:{hidden: :true}} ×
                  .dialog-content__body
                    %p 本当に削除してよろしいですか
                  .dialog-content__foot
                    = link_to "#", class:"submit--btn" do
                      %button{class: 'btn__cancel', data: {dismiss: 'modal'}, aria: {hidden: :true}} やめる
                    = link_to "#", class:"submit--btn", method: :delete do
                      %button{class: 'btn__deleate'} 削除する
        - elsif @product.buyer_id.present? 
          = link_to "売り切れました", "#",class:"disabled-button bold"
        - else
          .buy--btn
            - if user_signed_in?
              = link_to "購入する", purchase_index_path(product_id: @product.id), class: "b-btn"
            - else
              = link_to "購入は新規登録/ログインが必要です", new_user_session_path, class: "l-btn"
            .log
    .contents--under
      .comments
        - if @comments
          - @comments.each do |comment|
            .comments__text__user
              %strong
                .comment__user
                  = link_to comment.user.nickname, "/users/#{comment.user_id}"
                .comment__massage__text
                  = comment.text
      .form
        - if user_signed_in?
          = form_with(model: [@product, @comment], local:true, id: "new_comment") do |f|
            = f.text_area :text, class: 'textbox', rows: "2"
            .notificate
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります 
            = f.submit "コメントする", class: "form__submit"
        - else
          = form_with(model: [@product, @comment], local:true, id: "new_comment") do |f|
            = f.text_area :text, class: 'textbox', rows: "2"
            .notificate
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります 
            = link_to login_user_users_path do
              %button.comment--btn
                新規登録/ログインが必要です
    .move--btn
      .move--btn__forward
        - if @product.previous.present?
          = link_to "< 前の商品", product_path(@product.previous), class:"f--name"
      .move--btn__backward
        - if @product.next.present?
          = link_to "後ろの商品 >", product_path(@product.next), class:"b--name"
    .back--category
      = link_to "#{@product.category.parent.parent.name}をもっと見る", "#", class:"c--name"
