= render "homes/header"
= render "homes/purchasebtn"
.products--clums
  %ul
    %li
      = link_to "FURIMA", root_path, class:"top--link"
    %li
      >
    %li
      = link_to "#{@product.category}", "#", class:"mc--link"
    %li
      >
    %li
      = link_to "子カテゴリー", "#", class:"cc--link"
    %li
      >
    %li
      = link_to "孫カテゴリー", "#", class:"gc--link"
    %li
      >
    %li.clums--name
      = @product.name
.detail--contents
  .contents--main
    .contents--top
      .name
        = @product.name
      .image
        .image__big
          = image_tag "inu2.jpeg"
        %ul.image__small
          %li.image__small__1
            = image_tag "inu2.jpeg"
          %li.image__small__2
            = image_tag "inu2.jpeg"
          %li.image__small__3
            = image_tag "inu2.jpeg"
      .price
        ¥ #{@product.price}
        .price__detail
          (税込) #{@product.postage_i18n}
      .information
        %table
          %tr.detail
            %th.detail__title
              商品の説明
            %td.detail__content
              = @product.detail
          %tr.nickname
            %th.nickname__title
              出品者
            %td.nickname__content
              = @product.user.nickname
          %tr.category
            %th.category__title
              カテゴリー
            %td.category__content
              = @product.category
          %tr.brand
            %th.brand__title
              ブランド
            %td.brand__content
              = @product.brand
          %tr.size
            %th.size__title
              サイズ
            %td.size__content
              = @product.size
          %tr.status
            %th.status__title
              商品の状態
            %td.status__content
              = @product.status_i18n
          %tr.postage
            %th.postage__title
              配送料の負担
            %td.postage__content
              = @product.postage_i18n
          %tr.area
            %th.area__title
              発送元の地域
            %td.area__content
              = @product.shipping_area_i18n
          %tr.estimated
            %th.estimated__title
              発送日の目安
            %td.estimated__content
              = @product.estimated_date_i18n
      .buy--btn
        = link_to "購入する", confirmations_path, class: "b-btn"
      .under--btn
        .under--btn__favorite
          = icon("fa","star", class: "star-btn")
          = link_to "お気に入り #{@product.favorite}", "#", class: "f-btn"
        .under--btn__report
          = icon("fa","flag", class: "flag-btn")
          = link_to "不適切な商品の通報", "#", class: "r-btn"
    .contents--under
      .form
        = form_for "#" do |f|
          = f.text_area :content, class: 'textbox'
        .notificate
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります
        .comments  
          %button.comment--btn
            = icon("fa", "comment", class:"submit--btn")
            コメントする
    .move--btn
      .move--btn__forward
        - if @product.previous.present?
          = link_to "< 前の商品", product_path(@product.previous), class:"f--name"
      .move--btn__backward
        - if @product.next.present?
          = link_to "後ろの商品 >", product_path(@product.next), class:"b--name"
    .back--category
      = link_to "#{@product.category}をもっと見る", "#", class:"c--name"
